################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs
/bin/Debug
/CSKata/bin/Debug
/CSKata/obj/Debug
/CSKata/Properties
/CSKataTests/bin/Debug
/CSKataTests/obj/Debug
/CSKataTests/Properties
/packages
/Properties
/CSKataTests/CSKataTests.csproj.user
/CSKata/CSKata.csproj
/CSKata.csproj
